html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(67, 67, 67);
    /* Change to blue for debugging to see if the bg is visible between the webview and the deviceImg */
    /* background-color: blue; */
}

/* ------------------------------iPhone 11 Pro---------------------------------- */
/* This is the webview size */
#iPhone11Pro {
    display: inline-flex;
    width: 375px;
    height: 812px;
    /* This makes the website accessible through the device image */
    pointer-events:auto;
}

/* This is the device image */
#iPhone11ProImg {
    position: absolute;
    top: 136px;
    left: 33px;
    width: 432px;
    height: 890px;
    /* This makes the website accessible through the device image */
    pointer-events:none;
}

/* This is the x y position of the webview */
#device11Pro {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 190px;
}

/* This is the device name and dimensions text */
#iPhone11ProText {
    margin: 0;
    position: absolute;
    top: 85px;
    left: 126px;
}
/* ------------------------------iPhone 11 Pro---------------------------------- */

/* ------------------------------iPhone 11 Pro Max---------------------------------- */
/* This is the webview size */
#iPhone11ProMax {
    display: inline-flex;
    width: 414px;
    height: 896px;
    /* This makes the website accessible through the device image */
    pointer-events:auto;
}

/* This is the device image */
#iPhone11ProMaxImg {
    position: absolute;
    top: 130px;
    left: 515px;
    width: 475px;
    height: 996px;
    /* This makes the website accessible through the device image */
    pointer-events:none;
}

/* This is the x y position of the webview */
#device11ProMax {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 190px;
}

/* This is the device name and dimensions text */
#iPhone11ProMaxText {
    margin: 0;
    position: absolute;
    top: 85px;
    left: 604px;
}
/* ------------------------------iPhone 11 Pro Max---------------------------------- */

/* ------------------------------Samsung Galaxy A51---------------------------------- */
/* This is the webview size */
#samsungGalaxyA51 {
    display: inline-flex;
    width: 412px;
    height: 914px;
    /* This makes the website accessible through the device image */
    pointer-events:auto;
}

/* This is the device image */
#samsungGalaxyA51Img {
    position: absolute;
    top: 130px;
    left: 1046px;
    width: 463px;
    height: 1064px;
    /* This makes the website accessible through the device image */
    pointer-events:none;
}

/* This is the x y position of the webview */
#deviceA51 {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 242px;
}

/* This is the device name and dimensions text */
#A51Text {
    margin: 0;
    position: absolute;
    width: 350px;
    top: 85px;
    left: 1090px;
}
/* ------------------------------Samsung Galaxy A51---------------------------------- */

/* ------------------------------Google Pixel 5---------------------------------- */
/* This is the webview size */
#pixel5 {
    display: inline-flex;
    width: 393px;
    height: 851px;
    /* This makes the website accessible through the device image */
    pointer-events:auto;
}

/* This is the device image */
#pixel5Img {
    position: absolute;
    top: 130px;
    left: 1568px;
    width: 442px;
    height: 976px;
    /* This makes the website accessible through the device image */
    pointer-events:none;
}

/* This is the x y position of the webview */
#devicePixel5 {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 232px;
}

/* This is the device name and dimensions text */
#pixel5Text {
    margin: 0;
    position: absolute;
    width: 300px;
    top: 85px;
    left: 1630px;
}
/* ------------------------------Google Pixel 5---------------------------------- */

#deviceContainer {
    text-align: center;
    display: inline-flex;
    margin: 6px;
    font-size: 22px;
}
