html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(47, 47, 47);
}

#iPhone11Pro {
    display: inline-flex;
    width: 375px;
    height: 812px;
    /* This makes the website accessible through the device image */
    pointer-events:auto;
}

#iPhone11ProImg {
    position: absolute;
    top: 56px;
    left: 15px;
    width: 420px;
    height: 857px;
    /* This makes the website accessible through the device image */
    pointer-events:none;
}

#iPhone11ProMax {
    display: inline-flex;
    width: 414px;
    height: 896px;
}

#deviceContainer {
    text-align: center;
    display: inline-flex;
    margin: 6px;
    font-size: 22px;
}

#device {
    margin-left: 30px;
}