html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* background-color: rgb(47, 47, 47); */
    background-color: blue;
}

/* ------------------------------iPhone 11 Pro---------------------------------- */
/* This is the webview */
#iPhone11Pro {
    display: inline-flex;
    width: 375px;
    height: 812px;
    /* This makes the website accessible through the device image */
    pointer-events:auto;
}

/* This is the iPhone image */
#iPhone11ProImg {
    position: absolute;
    top: 136px;
    left: 88px;
    width: 432px;
    height: 890px;
    /* This makes the website accessible through the device image */
    pointer-events:none;
}
/* ------------------------------iPhone 11 Pro---------------------------------- */

/* ------------------------------iPhone 11 Pro Max---------------------------------- */
/* This is the webview */
#iPhone11ProMax {
    display: inline-flex;
    width: 414px;
    height: 896px;
    /* This makes the website accessible through the device image */
    pointer-events:auto;
}

/* This is the iPhone image */
#iPhone11ProMaxImg {
    position: absolute;
    top: 130px;
    left: 570px;
    width: 475px;
    height: 998px;
    /* This makes the website accessible through the device image */
    pointer-events:none;
}
/* ------------------------------iPhone 11 Pro Max---------------------------------- */

#deviceContainer {
    text-align: center;
    display: inline-flex;
    margin: 6px;
    font-size: 22px;
}

#device {
    margin-left: 110px;
    margin-top: 190px;
}