html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* Change to blue for debugging to see if the bg is visible between the webview and the deviceImg */
    background-color: rgb(67, 67, 67);
    /* background-color: blue; */
}

/* ------------------------------ iPad Pro ---------------------------------- */
/* This is the webview size */
#iPadPro {
    display: inline-flex;
    width: 1024px;
    height: 1366px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#iPadProImg {
    position: absolute;
    top: 186px;
    left: 33px;
    width: 1120px;
    height: 1536px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#deviceIPadPro {
    margin-left: 76px;
    margin-right: 55px;
    margin-top: 308px;
    background-color: white;
    height: 1366px;
}

/* This is the device name and dimensions text */
#iPadProText {
    margin: 0;
    position: absolute;
    top: 140px;
    left: 432px;
    /* width: 200px; */
}
/* ------------------------------ iPad Pro ---------------------------------- */


/* ------------------------------ iPad Mini ---------------------------------- */
/* This is the webview size */
#iPadMini {
    display: inline-flex;
    width: 768px;
    height: 1024px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#iPadMiniImg {
    position: absolute;
    top: 186px;
    left: 1172px;
    width: 892px;
    height: 1336px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#deviceIPadMini {
    margin-left: 76px;
    margin-right: 55px;
    margin-top: 366px;
    background-color: white;
    height: 1066px;
}

/* This is the device name and dimensions text */
#iPadMiniText {
    margin: 0;
    position: absolute;
    top: 140px;
    left: 1462px;
    /* width: 200px; */
}
/* ------------------------------ iPad Mini ---------------------------------- */


/* ------------------------------ iPad Mini Landscape ---------------------------------- */
/* This is the webview size */
#iPadMiniLandscape {
    display: inline-flex;
    width: 1024px;
    height: 768px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#iPadMiniLandscapeImg {
    position: absolute;
    top: 186px;
    left: 2078px;
    width: 1246px;
    height: 926px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#deviceIPadMiniLandscape {
    margin-left: 130px;
    margin-right: 55px;
    margin-top: 302px;
    background-color: white;
    height: 750px;
}

/* This is the device name and dimensions text */
#iPadMiniLandscapeText {
    margin: 0;
    position: absolute;
    top: 140px;
    left: 2462px;
    width: 500px;
}
/* ------------------------------ iPad Mini Landscape ---------------------------------- */

/* ------------------------------ iPad Pro Landscape ---------------------------------- */
/* This is the webview size */
#iPadProLandscape {
    display: inline-flex;
    width: 1366px;
    height: 1024px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#iPadProLandscapeImg {
    position: absolute;
    top: 186px;
    left: 3348px;
    width: 1454px;
    height: 1172px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#deviceIPadProLandscape {
    margin-left: 120px;
    margin-right: 55px;
    margin-top: 294px;
    background-color: white;
    height: 1026px;
}

/* This is the device name and dimensions text */
#iPadProLandscapeText {
    margin: 0;
    position: absolute;
    top: 140px;
    left: 3840px;
    width: 500px;
}
/* ------------------------------ iPad Pro Landscape ---------------------------------- */
/* Contains all the devices */
#deviceContainer {
    text-align: center;
    display: inline-flex;
    margin: 6px;
    font-size: 22px;
    margin-bottom: 150px;
    margin-right: 50px;
}

/* Contains the input field and controls */
#header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 5000;
    /* border: solid 5px black; */
}

/* The url input field */
#urlInput {
    position: absolute;
    height: 50px;
    font-size: 30px;
    margin-left: 30px;
    border-radius: 30px;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 600px;
    padding-left: 20px;
}

/* Controls */
#controls {
    margin-top: 20px;
    margin-left: 25%;
    display: inline-flex;
}

#backButton,
#forwardButton,
#reloadButton {
    margin-left: 30px;
}

#homeButton {
    margin-top: 20px;
    margin-left: 40px;
    display: inline-flex;
    position: absolute;
}

/* For glow instead of outline on focus */
*:focus {
    border-color: rgba(23, 198, 229, 0.8);
    box-shadow: 0 1px 1px rgba(39, 166, 189, 0.075) inset, 0 0 8px rgba(23, 198, 229, 0.823);
    outline: none;
}

/* Hide scrollbars */
/* ::-webkit-scrollbar {
    display: none;
} */