html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* Change to blue for debugging to see if the bg is visible between the webview and the deviceImg */
    background-color: rgb(67, 67, 67);
    /* background-color: blue; */
}

/* ------------------------------iPhone 11 Pro---------------------------------- */
/* This is the webview size */
#iPhone11Pro {
    display: inline-flex;
    width: 375px;
    height: 812px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#iPhone11ProImg {
    position: absolute;
    top: 186px;
    left: 33px;
    width: 432px;
    height: 890px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#device11Pro {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 162px;
    background-color: white;
}

/* This is the device name and dimensions text */
#iPhone11ProText {
    margin: 0;
    position: absolute;
    top: 140px;
    left: 124px;
    /* width: 200px; */
}

/* ------------------------------iPhone 11 Pro---------------------------------- */

/* ------------------------------iPhone 11 Pro Max---------------------------------- */
/* This is the webview size */
#iPhone11ProMax {
    display: inline-flex;
    width: 414px;
    height: 896px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#iPhone11ProMaxImg {
    position: absolute;
    top: 186px;
    left: 515px;
    width: 475px;
    height: 996px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#device11ProMax {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 166px;
    background-color: white;
}

/* This is the device name and dimensions text */
#iPhone11ProMaxText {
    margin: 0;
    position: absolute;
    top: 140px;
    left: 608px;
}

/* ------------------------------iPhone 11 Pro Max---------------------------------- */

/* ------------------------------Samsung Galaxy A51---------------------------------- */
/* This is the webview size */
#samsungGalaxyA51 {
    display: inline-flex;
    width: 412px;
    height: 914px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#samsungGalaxyA51Img {
    position: absolute;
    top: 186px;
    left: 1046px;
    width: 463px;
    height: 1064px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#deviceA51 {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 218px;
    background-color: white;
}

/* This is the device name and dimensions text */
#A51Text {
    margin: 0;
    position: absolute;
    width: 350px;
    top: 140px;
    left: 1090px;
}

/* ------------------------------Samsung Galaxy A51---------------------------------- */

/* ------------------------------Google Pixel 5---------------------------------- */
/* This is the webview size */
#pixel5 {
    display: inline-flex;
    width: 393px;
    height: 851px;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
}

/* This is the device image */
#pixel5Img {
    position: absolute;
    top: 186px;
    left: 1568px;
    width: 442px;
    height: 982px;
    /* This makes the website accessible through the device image */
    pointer-events: none;
}

/* This is the x y position of the webview */
#devicePixel5 {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 214px;
    background-color: white;
}

/* This is the device name and dimensions text */
#pixel5Text {
    margin: 0;
    position: absolute;
    width: 300px;
    top: 140px;
    left: 1630px;
}

/* ------------------------------Google Pixel 5---------------------------------- */

/* Contains all the devices */
#deviceContainer {
    text-align: center;
    display: inline-flex;
    margin: 6px;
    font-size: 22px;
}

/* Contains the input field and controls */
#header {
    width: 100%;
    height: 80px;
    /* border: solid 5px black; */
}

/* The url input field */
#urlInput {
    position: absolute;
    height: 50px;
    font-size: 30px;
    margin-left: 30px;
    border-radius: 5px;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 600px;
}

/* Controls */
#controls {
    margin-top: 20px;
    margin-left: 25%;
    display: inline-flex;
}

#backButton,
#forwardButton,
#reloadButton {
    margin-left: 30px;
}

#homeButton {
    margin-top: 20px;
    margin-left: 40px;
    display: inline-flex;
    position: absolute;
}

/* For glow instead of outline on focus */
*:focus {
    border-color: rgba(23, 198, 229, 0.8);
    box-shadow: 0 1px 1px rgba(39, 166, 189, 0.075) inset, 0 0 8px rgba(23, 198, 229, 0.823);
    outline: none;
}

/* Hide scrollbars */
::-webkit-scrollbar {
    display: none;
}