html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* Change to blue for debugging to see if the bg is visible between the webview and the deviceImg */
    background-color: rgb(67, 67, 67);
    /* background-color: blue; */
}

/* This is the webview size */
#device {
    display: inline-flex;

    width: 99%;
    height: 99%;
    /* This makes the website accessible through the device image */
    pointer-events: auto;
    /* border: solid 4px rgb(196, 196, 196); */
}

#resize {
    height: 250px;
    width: 250px;
}

/* This is the dimensions text */
#deviceText {
    color: white;
    top: 0px;
    right: 150px;
    font-size: 50px;
    position: fixed;
    text-shadow: -2px 2px 0 #000,
        2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000;
}

/* Contains all the devices */
#deviceContainer {
    text-align: center;
    display: inline-flex;
    margin: 6px;
    font-size: 22px;
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 80px;
    margin-top: 80px;
}

/* Contains the input field and controls */
#header {
    width: 100%;
    height: 80px;
    /* border: solid 5px black; */
}

/* The url input field */
#urlInput {
    position: absolute;
    height: 50px;
    font-size: 30px;
    margin-left: 30px;
    border-radius: 5px;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 600px;
}

#dimensInput {
    position: absolute;
    height: 50px;
    font-size: 30px;
    margin-left: 680px;
    border-radius: 5px;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 150px;
}

/* Controls */
#controls {
    margin-top: 20px;
    margin-left: 25%;
    display: inline-flex;
}

#backButton,
#forwardButton,
#reloadButton {
    margin-left: 30px;
}

#homeButton {
    margin-top: 20px;
    margin-left: 40px;
    display: inline-flex;
    position: absolute;
}

/* For glow instead of outline on focus */
*:focus {
    border-color: rgba(23, 198, 229, 0.8);
    box-shadow: 0 1px 1px rgba(39, 166, 189, 0.075) inset, 0 0 8px rgba(23, 198, 229, 0.823);
    outline: none;
}

/* Hide scrollbars */
/* ::-webkit-scrollbar {
    display: none;
} */