/* ---------------------------------- Fonts --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@350;400&display=swap");

/* -------------------------------- Variables ------------------------------- */
:root {
  --body-font-size: 18px;
  --body-font-weight: 300;
  --header-font-weight: 500;

  --main-lateral-padding: 17px;

  --footer-color: #bbbbbb;
  --link-color: #248ef1;
  --link-underline-color: #248ef1e5;

  --small-link-color: #3f3f3f;
}

/* -------------------------------------------------------------------------- */
/*                                Global Styles                               */
/* -------------------------------------------------------------------------- */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
  background-image: url("./assets/whiteGlossBackground.png");
}

#main-padding {
  padding-left: var(--main-lateral-padding);
  padding-right: var(--main-lateral-padding);
}

.main {
  margin: auto;
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                              Alignment Styles                              */
/* -------------------------------------------------------------------------- */

.padding {
  padding: 12px;
}

.padding-section {
  padding: 50px 0px;
}

.padding-blurb {
  padding: 30px 0px;
}

.padding-faq-block {
  padding-bottom: 36px;
}

.padding-bottom {
  padding: 30px 0px;
}

.padding-small {
  padding: 4px;
}

.padding-medium {
  padding: 8px 8px;
}

.padding-semi-large {
  padding: 14px 0px;
}

.padding-large {
  padding: 16px 0px;
}

/* -------------------------------------------------------------------------- */
/*                                 Font Styles                                */
/* -------------------------------------------------------------------------- */

/* The main title font */
h2 {
  font-size: 34px;
  font-weight: var(--header-font-weight);
  text-align: left;
  line-height: 125%;
  margin: auto;
}

/* Blurb header font */
h3 {
  font-size: 25px;
  font-weight: var(--header-font-weight);
  text-align: left;
  margin: auto 0;
}

/* FAQ header font */
h4 {
  font-size: 21px;
  font-weight: var(--header-font-weight);
  text-align: left;
  line-height: 125%;
  margin: auto 0;
  padding-bottom: 7px;
}

/* Body font */
p {
  font-size: 18px;
  line-height: 160%;
  margin: auto;
  font-weight: var(--body-font-weight);
}

.line-break {
  vertical-align: -39%;
}

/* --------------------------- Unique font styles --------------------------- */

#sticky-bar h4 {
  padding: 0px 0px;
  padding-left: 6px;
  color: #000000;
}

.contact-us {
  line-height: 145% !important;
}

.footer-font {
  color: #474747;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding-bottom: 7px;
}

.inline-link {
  color: #0000005e;
  text-underline-offset: 4px;
  transition: 0.2s;
  font-weight: 400;
}

.inline-link:hover {
  color: var(--small-link-color);
}

/* Lists */
ol {
  padding: 10px 0px;
  padding-left: 32px;
  margin: auto 0;
}

.remove-bottom-padding {
  padding-bottom: 0px !important;
}

.remove-bottom-margin {
  margin-bottom: 0px !important;
}

li {
  padding: 8px 0px;
  padding-left: 5px;
  line-height: 160%;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
}

/* Code styling */
.technical-info {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 90%;

  color: rgb(255, 140, 0);
  background-color: rgba(255, 231, 195, 0.475);

  padding: 1px 6px;
  border-radius: 5px;
}

/* Adjustments for an glyph character */
.glyph {
  padding-bottom: 0px;
  font-size: 95%;
}

/* Adjustments for emoji characters */
.emoji {
  padding-top: 4px;
  padding-left: 2px;
}

#emoji-keyboard {
  padding-left: 3px;
  font-size: 33px;
}

#emoji-magnifying-glass {
  padding-top: 0px;
  font-size: 28px;
}

#emoji-settings {
  font-size: 27px;
}

/* -------------------------------------------------------------------------- */
/*                                 Indicators                                 */
/* -------------------------------------------------------------------------- */

#indicators {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  align-items: center;
}

#repo-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indicator-separator {
  padding-left: 7px;
  padding-right: 7px;
}

.indicator {
  font-size: 16px;
  color: #00000059;
  font-weight: 400;
}

#indicators a {
  text-underline-offset: 1px;
  transition: 0.2s;
}

#indicators a:hover {
  color: var(--small-link-color);
}

/* -------------------------------------------------------------------------- */
/*                         Button, Links & Icon Styles                        */
/* -------------------------------------------------------------------------- */

.button-icon {
  display: block;
}

.icon-link {
  width: 16px;
  padding-left: 7px;
}

.icon-footer {
  display: block;
  width: 21px;
  height: 21px;
  padding: 8px;
  opacity: 0.3;
  transition: all 0.2s ease;
}

.icon-footer:hover {
  opacity: 1;
  transform: scale(1.2);
}

.darkLink {
  color: #005fb7;
  text-decoration: none;
  padding-bottom: 3px;

  background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, var(--link-underline-color), var(--link-underline-color));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  padding-bottom: 3px;

  background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, var(--link-underline-color), var(--link-underline-color));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}

.link:hover {
  background-size: 0 3px, 100% 3px;
}

.button-standard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: rgba(255, 255, 255, 0.4);

  border-color: rgba(0, 0, 0, 0.14);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  text-decoration: none;
  color: #000000;

  box-sizing: border-box;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.07);
  font-size: 16px;
  font-weight: var(--header-font-weight);

  transition: all 0.15s ease;
}

.button-standard:visited {
  color: inherit;
}

.button-standard:hover {
  transform: scale(1.08);
  background-color: rgba(255, 255, 255, 0.7);
}

/* -------------------------------------------------------------------------- */
/*                                 Sticky Bar                                 */
/* -------------------------------------------------------------------------- */

#sticky-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#sticky-bar-content {
  position: relative;
}

#sticky-bar-home {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  text-decoration: none;
}

#sticky-bar-home:visited {
  color: inherit;
}

#sticky-bar-squeezer {
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

#sticky-bar-links {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

#sticky-bar-links a {
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  color: var(--small-link-color) !important;
  text-decoration: none;
  opacity: 0.55;
  transition: all 0.2s ease;
}

#sticky-bar-links a:visited {
  color: inherit;
}

#sticky-bar-links a:hover {
  opacity: 1;
}

/* -------------------------------------------------------------------------- */
/*                                Misc. Styles                                */
/* -------------------------------------------------------------------------- */

#section-1 {
  padding-top: 50px;
}

#app-store-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#app-store-buttons p {
  font-size: 24px;
  opacity: 0.1;
  line-height: 0%;
  padding: 15px;
}

.section-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing-header {
  text-align: center;
  padding-top: 7px;
}

#landing-subtitle {
  text-align: center;
  color: #424242;
  padding-top: 7px;
}

.main {
  max-width: 750px;
}

/* This is the sticky header */
.backdrop {
  background-color: rgba(255, 255, 255, 0.72);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.foreground {
  padding: 6px 0px;
  padding-left: 10px;
  padding-right: 14px;
  z-index: 1;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);

  border-color: transparent;
  border-bottom: rgba(128, 128, 128, 0.166);
  border-style: solid;
  border-width: 1px;
}

hr {
  margin: 65px 0px;
  border: none;
  height: 1px;
  color: #3b3b3b;
  background-color: #3b3b3b;
}

li {
  padding: 2px;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  margin-left: -8px;
  margin: none;
  padding-top: 16px;
  padding-bottom: 4px;
}

.blurb {
  display: flex;
  align-items: flex-start;
  padding-bottom: 7px;
}

.video {
  border-radius: 10px;
}

.center-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-icon {
  height: 100px;
  width: 100px;
}

#image1 {
  padding-top: 20px;
  width: 100%;
}

#key-support-video {
  max-width: 520px;
  padding-top: 15px;
}

#settings-window-image {
  padding-top: 20px;
  width: 100%;
  max-width: 800px;
}

#sponsor-heart {
  width: 15px;
  padding-left: 7px;
  padding-top: 0.4px;
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Styles                             */
/* -------------------------------------------------------------------------- */

/* Mobile Only */
@media only screen and (max-width: 425px) {
  body {
    background-size: 1200%;
  }

  h2 {
    font-size: 36px;
  }

  .contact-us {
    font-size: 34px !important;
    line-height: 135% !important;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }

  .icon-footer {
    width: 23px;
    height: 23px;
  }

  .footer-font {
    font-size: 18px !important;
  }
}

/* Mobile Design - Tablet */
@media only screen and (max-width: 999px) {
  body {
    background-size: 1200%;
  }

  /* Make sure to show the links once we're on a desktop */
  #sticky-bar-links {
    visibility: hidden;
  }

  /* Make buttons stack instead */
  #app-store-buttons {
    display: contents;
  }

  #app-store-buttons p {
    padding: 8px;
    visibility: hidden;
  }
}

/* Desktop Design */
@media only screen and (min-width: 1000px) {
  body {
    background-size: 700%;
  }

  /* Make sure to show the links once we're on a desktop */
  #sticky-bar-links {
    visibility: visible;
  }

  /* Push out the lists for better visibility */
  ol {
    padding-left: 38px;
  }
}

/* ::-webkit-scrollbar {
  background-color: #e2e2e2;
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 6px;
  background-clip: content-box;
  min-height: 26px;
} */

/* This website design is inspired by https: //informant-app.com/ */